*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //global definition for what 1 rem is and more of a base then typography
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
